body{
  background-image:linear-gradient(pink,rgb(175, 175, 246),yellow,green) ;
  background-repeat:no-repeat ;
  width: 100%;
}
h3{
  color: blue;
}
h2{
  color: rgb(253, 53, 53);
}
h1{
  text-align: center;
}